body {
font-family: Arial, Helvetica, sans-serif;
height: 100%;
}

.navbar {
overflow: hidden;
background-color: #344966;
}

.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}



.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
background-color: #AC7B84;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;
}

.welcome {
    width: 100%;
    margin: auto;
    font-size: 32px;
}

.home_page_name {
    width: 100%;
    margin: auto;
    font-size: 64px;
}

.page_headers{
    width: 100%;
    margin: auto;
}

h3 {
    /*font-family: Brush Script MT,cursive;*/
    font-size: 32px;
    width: 100%;
}
.text {
    width: 100%;
    margin: auto;
}

.row {
display: flex;
align-items: stretch;
height: 150%;
padding-top: 5px;

/*border-style: dotted;*/
}

.row_inner {
    display: flex;
    align-items: stretch;
    height: 100vh;
    padding-top: 5px;
    
    /*border-style: dotted;*/ 
    }

.inner_column_left{
    flex: 20%;
    padding: 1px;
    /*border-style: dotted;*/ 
}
.inner_column_mid{
    flex: 60%;
    padding: 1px;
    /*border-style: dotted;*/ 
}
.inner_column_right{
    flex: 20%;
    padding: 1px;
    /*border-style: dotted;*/ 
}
/* Create three equal columns that sits next to each other */
.column {
flex: 20%;
padding: 1px;

background-image: url("music_notes.jpg");
background-size: 70%;
border-top: 5px solid #344966;
/*border-style: dotted;*/
}
h1{
    color: #B84A62;
}

.column_who_am_i {
    flex: 20%;
    padding: 10px;
    

    background-size: 70%;
    /*border-style: dotted;*/
    /*border-style: dotted;*/
    }
.home_column_2 {
    flex: 20%;
    padding: 1px;
    background-image: url("music_notes.jpg");
    background-size: 70%;
    border-top: 5px solid #344966;
    /*border-style: dotted;*/
    }

.center_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 75%;
}

.center_pic_inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.column_mid {
flex: 50%;
padding: 1px;
border-left: 5px solid #344966;
border-right: 5px solid #344966;
border-top: 5px solid #344966;
border-bottom: 5px solid #344966;
}
.column_mid_who_am_i {
    flex: 50%;
    padding: 10px;
    border-left: 5px solid #344966;
    border-right: 5px solid #344966;
    /*border-style: dotted;*/
    }